/* import */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto) minmax(20vh, auto) auto auto;
  grid-template-areas:
    "nv nv nv nv"
    "hero hero hero hero"
    "main main main main"
    "ft ft ft ft";
}

/* hero banner */

.hero-banner {
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: minmax(30vh, auto);
}

.hero-banner-image-container {
  background-image: url(../Images/home/heroBanner.jpg);
  background-position: center;
  background-size: cover;
  grid-area: 1/1/3/3;
}

.hero-banner-text-container {
  grid-area: 1/1/3/3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Main section*/

.main-section {
  grid-area: main;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
}

.recent-blogs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  padding: 0 10px 10px 10px;
  grid-gap: 30px;
  margin: 20px 10%;
}

/* Cards */

.card {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr auto;
  grid-template-areas:
    "bt . . . ."
    ". . . . ."
    ". . . . ."
    "ct ct ct ct ct";

  /* flex-direction: column;
  justify-content: flex-end; */
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -1px 4px 19px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 19px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 19px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

/* used to center the card text */

.card-text {
  background-color: #fff;
  opacity: 80%;
  text-align: left;
  padding: 10px 10px;
  grid-area: ct;
}

.card-title-container {
  margin: 0 0 1vh 0;
}

.card-author-date {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  color: #333;
}

.card-details {
  display: flex;
  align-items: flex-start;
  margin: 0 10px 0 0;
}

.card-icon {
  height: 1em;
  width: auto;
  margin: 0 10px 0 0;
}

#blogOne {
  background-image: url(../Images/home/blog1.jpg);
}

#blogTwo {
  background-image: url(../Images/home/blog2.jpg);
}

#blogThree {
  background-image: url(../Images/home/blog3.jpg);
}

.blog-description {
  margin: 0;
}

.blog-button {
  border: none;
  grid-area: bt;
  align-self: start;
  font-size: 1.5rem;
  box-shadow: -5px 10px 19px -5px rgba(0, 0, 0, 0.75);
}

.blog-link {
  text-decoration: none;
  color: white;
}

#button-one {
  border: 3px red solid;
  background-color: red;
  padding: 10px 0;
}

#button-two {
  border: 3px blueviolet solid;
  background-color: blueviolet;
  padding: 10px 0;
}

#button-three {
  border: 3px blue solid;
  background-color: blue;
  padding: 10px 0;
}

/* footer */

.footer {
  border: 1px black solid;
  grid-area: ft;
  background-color: #333;
}

.footer-content {
  color: white;
  margin: 15px 0;
  text-align: center;
}

/* Different screen sizes */

/*Tablet / Medium size devices */
@media (min-width: 768px) and (max-width: 991px) {
  .recent-blogs {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 400px;
    padding: 0 10px 10px 10px;
    grid-gap: 30px;
    margin: 20px 0;
    justify-content: center;
  }
}

/* large screen */

@media (min-width: 992px) {
  .recent-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    padding: 0 10px 10px 10px;
    grid-gap: 30px;
    margin: 20px auto;
    justify-content: center;
    max-width: 950px;
  }

  .card-title-container {
    margin: 0 0 2vh 0;
  }

  .grid-container {
    grid-template-rows: minmax(50px, auto) minmax(40vh, auto) auto auto;
  }
}
