.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(50px, auto) minmax(30vh, auto) auto 50px;
  grid-template-areas:
    "nv nv nv nv"
    "hero hero hero hero"
    "main main main main"
    "ft ft ft ft";
  margin: 0;
}

/* navbar */

.nav-bar {
  border: 1px red solid;
  grid-area: nv;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
}

.nav-bar-links {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
}

/* hero banner */

.hero-banner {
  border: 1px blue solid;
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hero-banner-image-container {
  background-image: url(../Images/home/heroBanner.jpg);
  background-position: center;
  background-size: cover;
  grid-area: 1/1/3/3;
}

.hero-banner-text-container > h1 {
  font-size: 4rem;
}

.hero-banner-text-container > h3 {
  font-size: 1.5rem;
}

.hero-banner-text-container {
  grid-area: 1/1/3/3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section {
  border: 1px green solid;
  grid-area: main;
}

.footer {
  border: 1px black solid;
  grid-area: ft;
}
