/* base styling for the whole project */

/* Import styling for the individual pages or components */
@import "./home.css";
@import "./subscribe.css";
@import "./post.css";
@import "./navbar.css";

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

/* Standard Text formats used throughout the pages */

.display-1 {
  font-size: 5em;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0;
}

.display-2 {
  font-size: 3.5em;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0;
}

.display-3 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 2px;
}

.display-4 {
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0;
}

.display-5 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0px;
  margin: 0;
}

.main-text {
  font-size: 1.1em;
  line-height: 1.5em;
}

/*Text changes when the screen is a medium tablet design*/

@media (max-device-width: 991px) and (min-device-width: 768px) {
  .main-text {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

/*Text changes when the screen is a large design*/

@media (min-width: 992px) {
  .display-1 {
    font-size: 12em;
  }

  .display-3 {
    font-size: 1.7em;
    margin: 2px;
  }

  .main-text {
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: justify;
  }
}

/* fomrat of text on very small screens */
@media (max-width: 360px) {
  .display-1 {
    font-size: 4em;
  }

  .display-3 {
    font-size: 1.8em;
    margin: 2px;
  }

  .display-5 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }
}
