/* CSS style for navbar */

.nav-bar {
  grid-area: nv;
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.nav-bar-links {
  text-decoration: none;
  color: #333;
}

.nav-text:hover {
  transform: scale(1.1, 1.1);
}

/*Home / Post / Subscribe section*/
.sub-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*dont show website title or logo with small device*/
.title-logo {
  display: none;
}

/*Tablet / Medium size devices */
@media (min-width: 768px) and (max-width: 991px) {
  /* Nav bar adjustments*/
  .nav-bar {
    justify-content: space-between;
    align-items: flex-start;
  }

  .sub-nav {
    width: 60%;
  }

  /*dont show site logo in medium screen mode*/
  .site-logo {
    display: none;
  }

  /*show site name in navbar*/
  .title-logo {
    margin: 0 0 0 3vw;
    display: flex;
  }
}

/* large screen */
@media (min-width: 992px) {
  .nav-bar {
    justify-content: space-between;
    align-items: flex-start;
  }

  .sub-nav {
    width: 30%;
  }

  /*Show website logo and title*/
  .title-logo {
    display: flex;
  }

  .site-logo {
    height: 1.5em;
    margin: 0 15px 0 30px;
  }
}
